.content-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

form {
  max-width: 800px;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  /* margin-right: 250px; */
}

h2 {
  margin-bottom: 20px;
  /* margin-right: 250px; */
}


@media (max-width: 600px) {
  .content-page {
    padding: 10px;
  }

  form {
    padding: 10px;
  }
}
