.header {
  background-color: #5F66AA;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  height: 10vh;
}

.toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.logo {
  display: flex;
  align-items: center;
}

.search-box {
  display: flex;
  align-items: center;
  background-color: white;
  border-radius: 5px;
  padding: 2px 4px;
  margin-right: 1rem;
}

.nav-links {
  display: flex;
  align-items: center;
}

.nav-links button {
  margin-left: 1rem;
  color: white;
}

@media (max-width: 768px) {
  .search-box {
    width: 100%;
    margin-right: 0;
  }

  .nav-links {
    display: none;
  }
}

@media (max-width: 480px) {
  .logo img {
    height: 40px;
  }

  .search-box {
    width: 100%;
  }

  .toolbar {
    flex-direction: column;
  }
}
