.sidebar {
  width: 20%;
  background-color: #E0DFFE;
  overflow-x: hidden;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100px;
  }
  .list-item-text {
    display: none;
  }
}

@media (max-width: 480px) {
  .sidebar {
    width: 60px;
  }
  .list-item-text {
    display: none;
  }
}
