.footer {
  background-color: #838AD2;
  color: white;
  width: 100%;
  justify-content: space-between;
  z-index: -1;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.footer-left, .footer-center, .footer-right {
  flex: 1;
}

.footer-logo {
  height: 40px;
}

.footer-center ul, .footer-right ul {
  list-style: none;
  padding: 0;
}

.footer-center li, .footer-right li {
  margin: 5px 0;
}

.social-icons {
  display: flex;
  gap: 10px;
}

.social-icons a {
  color: white;
  font-size: 20px;
  text-decoration: none;
}
