body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

* {
  box-sizing: border-box;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
}

main {
  margin-top: 64px; 
  flex-grow: 1;
  padding: 16px;
  padding-left: 320px; 
}

@media (max-width: 768px) {
  main {
    padding-left: 100px;
  }
}

@media (max-width: 480px) {
  main {
    padding-left: 60px;
  }
}
